imagenet/
imagenetdataset/
tinyimagenet/
tinyimagenetdataset/
augmenterTestOut/
horusimagenetv1/
horusimagenetv2/
*.png
*.jpg
*.t7
*.sh
*~
tiny_horusimagenet_v1dataset
tiny_horusimagenet_v2dataset
tiny_horustestbench_dataset
video/
misc/
classifiers/
testbench_results/
imagenetdataset
tinyimagenetdataset
tinyhorus_v2
*.ods
*.png
*.swp
AipolyVsHorus/
t7/
